* {
   margin: 0;
   padding: 0;
   font-family: Verdana, Geneva, Tahoma, sans-serif;
   box-sizing: border-box;
   text-decoration: none;
}
body {
   height: 100vh;
   background: url("https://buat.web.id/wp-content/uploads/2020/08/bubble-animated-background.svg") no-repeat center;
   background-size: cover;
   display: flex;
   align-items: center;
   justify-content: center;
}
.profile-card {
   margin: 20px;
   width: 400px;
   text-align: center;
   border-radius: 10px;
   overflow: hidden;
}
.card-header {
   background: #2c3a47;
   padding: 40px 20px;
}
.pic {
   display: inline-block;
   padding: 8px;
   background: linear-gradient(130deg, #74b9ff, #e66767);
   margin: auto;
   border-radius: 50%;
   background-size: 200% 200%;
   animation: animation-gradient 2s linear infinite;
}
@keyframes animation-gradient {
   25% {
      background-position: left bottom;
   }
   50% {
      background-position: right bottom;
   }
   75% {
      background-position: right top;
   }
   100% {
      background-position: left top;
   }
}

.pic img {
   display: block;
   width: 100px;
   height: 100px;
   border-radius: 50%;
   overflow: hidden;
}

.name {
   color: #f2f2f2;
   font-size: 28px;
   font-weight: 600;
   margin: 10px 0;
}
.desc {
   font-size: 18px;
   color: #e66767;
}
.sm {
   display: flex;
   justify-content: center;
   margin: 20px 0;
}
.sm a {
   color: #f2f2f2;
   width: 56px;
   font-size: 22px;
   transition: 0.3s linear;
}
.sm a:hover {
   color: #e66767;
}
.contact-btn {
   display: inline-block;
   padding: 12px 50px;
   color: #e66767;
   border: 2px solid #e36676;
   border-radius: 6px;
   margin-top: 16px;
   transition: 0.3s linear;
}
.contact-btn:hover {
   background: #e66767;
   color: #f2f2f2;
}
.card-footer {
   background: #f4f4f4;
   padding: 60px 10px;
}
.numbers {
   display: flex;
   align-items: center;
}
.item {
   flex: 1;
   text-transform: uppercase;
   font-size: 13px;
   color: #e66767;
}
.item span {
   display: block;
   color: #2c3a47;
   font-size: 30px;
}
